:root {
    --grey-background : rgb(113, 128, 147);
    --gold : rgb(225, 177, 44);
    --gold-pawn : rgb(251, 197, 49); 
    --red-pawn : rgb(232, 65, 24);
    --blue-board : rgb(25, 42, 86);
    --blue-inner : rgb(53, 59, 72);
    --cyan-container : rgb(0, 168, 255);
    --error-red : #ff4444;
    --error-hover : #ff2222;
}